
body {
    *, *::before, *::after {
        all: unset;
        box-sizing: border-box;
        font: 25px/1.0786893258332633 sans-serif;
    }
    background: #fff none;
    display: block;
}

::selection {
    background: #4bdcb0 none;
}

input[type=number], input[type=text] {
    appearance: textfield;
    font-weight: bold;
    caret-color: #4bdcb0;
}
button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
}

label {
    cursor: default;
    text-align: center;
}


.button {
    cursor: pointer;
}

.button:focus, .formField__input:focus, .formField__input:has(input:focus) {
    outline: 2px solid #4bdcb0;
    outline-offset: 2px;
}

.button--primary {
    font-weight: bold;
    height: 4rem;
    background: #4bdcb0 none;
    padding: .5rem;
}

.formField {
    opacity: .5;
}

.formField:has(*:focus) {
    opacity: 1;
}

.formField__input, .formField__input > input {
    transition: .1s ease-out background-color, .1s ease-out caret-color;
}

.formField__input  > * {
    width: 100%;
}

#root {
    width: 100%;
    max-width: 80vw;
    min-height: 100vh;
    display: block;
    margin: 0 auto;
    & > * {
        width: inherit;
        height: inherit;
        min-height: inherit;
        animation: .25s 1 ease-in flyIn;
    }
}


.onboarding {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}
.onboarding--logo {
    --size: 380px;
    display: block;
    width: var(--size);
    height: var(--size);
}

.form {
    display: block;
    padding: 0 2rem;
}

.formField {
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem 0;
}

.formField__label {
    font-size: 22px;
    font-weight: bold;
}


.button, .formField__input {
    border-radius: 9999px;
    border: 4px solid #000;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.onboarding__beginButton {
    width: auto;
    padding-right: 4rem;
    padding-left: 4rem;
}

.formField__input, .formField__input > input {
    font-weight: bold;
    font-size: 25px;
    line-height: 1;
}

.formField__input {
    height: 4rem;
    display: flex;
    text-transform: capitalize;
    cursor: text;
}

.formField__input[type=date], .formField__input > input[type=date] {
    text-transform: uppercase;
}

.formField__input > input[type=date] {
    width: auto;
    border-radius: 9999px;
}

.formField__incrementButton {
    width: 3ch;
    height: 3ch;
    margin: .5rem;
    background: #000 none;
    color: #fff;
    user-select: none;
    border-radius: 100%;
    font-weight: bold;
}

.formField__input--withCurrency > input {
    width: auto;
}

.results {
    display: flex;
    flex-flow: column nowrap;
    padding: 1.6rem 0;
}

.results > * {
    margin: 0 auto;
}

.results__heading, .results__subheading {
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
    display: block;
}

.results__subheading {
    font-size: 2rem;
    margin: 1rem 0;
}

.infoSection {
    width: 100%;
    margin-top: 2rem;
}

.infoSection__group {
    background: #BBF7F7 none;
    display: block;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    padding: 1.6rem;
    border-radius: 20px;
    p {
        display: block;
        margin: 1rem 0;
    }
}

.infoSection--enter {
    animation: .5s 1 ease-in flyIn;
    animation-fill-mode: backwards;
    animation-delay: .5s;
}

.tripInfo {
    display: inline-grid;
    width: auto;
    grid: 1fr 1fr / auto auto;
    gap: 1rem;
}

.tripInfo__date {
    font-size: 20px;
    place-self: center;
    text-align: center;
    border-radius: 9999px;
    padding: 1rem;
}

.tripInfo__group {
    display: block;
    &, * {
        font-weight: bold;
    }
}

.tripInfo__destination {
    grid-column: 1 / span 2;
    text-align: center;
}

@keyframes flyIn {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
